<p>
      <md-card style="margin:0px">
            <md-input-container style="margin:15px;">
                  <label>Search</label>
                  <input type="text" ng-model="search">
            </md-input-container>

            <md-table-container>
                  <table md-table md-progress="promise" ng-model="selected" md-row-select>
                        <thead md-head md-order="sort.order">
                              <tr md-row>
                                    <th md-column md-order-by="title"><span>제 목</span></th>
                                    <th md-column md-order-by="name"><span>작성자</span></th>
                                    <th md-column><span>회사명</span></th>
                              </tr>
                        </thead>

                        <tbody md-body>
                              <tr md-row md-select="code" md-select-id="name" md-auto-select ng-repeat="code in codes | filter:search | orderBy: sort.order | limitTo: condition.limit : (condition.page -1) * condition.limit">
                                    <td md-cell>{{code.title}}</td>
                                    <td md-cell>{{code.name}}</td>
                                    <td md-cell>{{code.company}}</td>
                              </tr>
                        </tbody>
                  </table>
            </md-table-container>
      </md-card>

      <md-table-pagination md-limit="condition.limit" md-limit-options="limitOptions" md-page="condition.page" md-total="{{codes.length}}" md-boundary-links="options.boundaryLinks" 
                              md-page-select="options.pageSelector">
      </md-table-pagination>            
</p>

<p ng-hide="selected.length == 0">
      <md-table-container>
            <table border=1 width=600 cellspacing=0 align=center>
                  <tr align="center">
                        <td>성 명</td>
                        <td>회사명</td>
                        <td>이메일</td>
                        <td>연락처</td>
                        <td>직 급</td>
                        <td>소 속</td>
                        <td>제 목</td>
                        <td>내 용</td>
                  </tr>

                  <tr align="center" ng-repeat="code in codes">
                        <td> {{code.name}} </td>
                        <td> {{code.company}} </td>
                        <td> {{code.email}} </td>
                        <td> {{code.phone}} </td>
                        <td> {{code.position}} </td>
                        <td> {{code.belong}} </td>
                        <td> {{code.title}} </td>
                        <td> {{code.content}} </td>
                  </tr>
            </table>
      </md-table-container>
</p>
