<!--<form name="projectForm" align=center>
      <br>
      <h3 align="center"><font type="bold">Smart Fleet은 다양한 사업과 연계 될 수 있습니다.</font></h3>
      <h3 align="center"><font type="bold">사업 연계와 관련하여 궁금한 사항을 남겨주세요.</font></h3><br><br>

      <table border=1 width=600 cellspacing=0 align=center>
            <tr align="center">
                  <td>제목</td>
                  <td>작성자</td>
                  <td>회사명</td>
            </tr>

            <tr align="center" ng-repeat="code in codes">
                  <td> <a ui-sref="detail" ui-sref-active="active"> {{code.title}} </a> </td>
                  <td> {{code.name}} </td>
                  <td> {{code.company}} </td>
            </tr>
      </table>
</form>-->

<p>
  <md-table-container>
     <table md-table md-progress="promise" ng-model="selected">
            <thead md-head md-order="sort.order">
              <tr md-row>
                <th md-column md-order-by="title"><span>제 목</span></th>
                <th md-column md-order-by="name"><span>작성자</span></th>
                <th md-column><span>회사명</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="code" ng-repeat="code in codes | orderBy: sort.order| limitTo: condition.limit : (condition.page -1) * condition.limit">
                <td md-cell>{{code.title}}</td>
                <td md-cell>{{code.name}}</td>
                <td md-cell>{{code.company}}</td>
              </tr>
            </tbody>
          </table>
         </md-table-container>

         <!--<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{codes.length}}" md-boundary-links="options.boundaryLinks " ></md-data-table-pagination>-->
         <md-table-pagination md-limit="condition.limit" md-limit-options="limitOptions" md-page="condition.page" md-total="{{codes.length}}" md-page-select="options.pageSelect"></md-table-pagination>
      
</p>