<p>
      <md-card style="margin:0px">
            <md-input-container style="margin:15px;">
                  <label>Search</label>
                  <input type="text" ng-model="search">
            </md-input-container>

            <md-table-container>
                  <table md-table md-progress="promise"  ng-model="selected">
                        <thead md-head md-order="sort.order">
                              <tr md-row>
                                    <th md-column md-order-by="title"><span>제 목</span></th>
                                    <th md-column md-order-by="name"><span>작성자</span></th>
                                    <th md-column><span>회사명</span></th>
                              </tr>
                        </thead>

                        <tbody md-body>
                              <tr md-row md-select="code" md-select-id="name" md-auto-select="options.autoSelect" ng-repeat="code in codes | filter:search | orderBy: sort.order | limitTo: condition.limit : (condition.page -1) * condition.limit">
                                    <td md-cell>{{code.title}}</td>
                                    <td md-cell>{{code.name}}</td>
                                    <td md-cell>{{code.company}}</td>
                              </tr>
                        </tbody>
                  </table>
            </md-table-container>
      </md-card>

      <!--<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{codes.length}}" md-boundary-links="options.boundaryLinks " ></md-data-table-pagination>-->
      <md-table-pagination md-limit="condition.limit" md-limit-options="limitOptions" md-page="condition.page" md-total="{{codes.length}}" md-boundary-links="options.boundaryLinks" 
                              md-page-select="options.pageSelector">
      </md-table-pagination>

      {{selected}}
            
</p>