<form name="qnaform" align=center ng-submit="onclick(qnaform)" novalidate>
      <br>
      <h3 align="center"><font type="bold">Smart Fleet은 다양한 사업과 연계 될 수 있습니다.</font></h3>
      <h3 align="center"><font type="bold">사업 연계와 관련하여 궁금한 사항을 남겨주세요.</font></h3><br><br>

      <table border=1 width=600 cellspacing=0 align=center>
        <tr align=center>
          <td colspan=2 align=center>
            <md-toolbar class="md-warn">
              <div class="md-toolbar-tools">
                <h2 class="md-flex">Smart Fleet Management Service 사업 연계 문의</h2>
              </div>
            </md-toolbar>
          </td>
        </tr>

        <tr>
          <td align="left" width="500">
            <div layout="row">
              <md-input-container flex="300">
                <label>성 명</label>
                <input required name="name" ng-model="qna.name" maxlength="30">
                <div ng-messages="qnaform.name.$error">
                  <div ng-message="required">이름은 필수로 입력해야 합니다.</div>       
                </div>         
              </md-input-container>
          </td>
          <td align="left">
              <md-input-container flex="300">
                <label>회사명</label>
                <input required name="company" ng-model="qna.company" maxlength="30">
               <div ng-messages="qnaform.company.$error">
                  <div ng-message="required">회사명은 필수로 입력해야 합니다.</div>       
                </div> 
              </md-input-container>
            </div>
          </td>
        </tr>

        <tr>
          <td align="left">
            <div layout="row">
              <md-input-container flex="300">
                <label>E-mail</label>
                <input required name="email" ng-model="qna.email" ng-pattern="/^.+@.+\..+$/" >
                <div style="font:6pt" ng-show="qnaform.email.$untouched">이 문의에 대한 답변은 E-mail로 발송됩니다.</div>
                <div ng-messages="qnaform.email.$error" ng-if="!showHints">
                  <div ng-message="required">이메일은 필수로 입력해야 합니다.</div>       
                  <div ng-message-exp="['pattern']">이메일 형식을 지켜주세요.(aaa @ aaa.aaa)</div>
                </div> 
              </md-input-container>
          </td>
            <td align="left">
              <md-input-container flex="300">
                <label>전화번호</label>
                <input name="phone" ng-model="qna.phone" ng-pattern="/^[0-9]{3}-[0-9]{4}-[0-9]{4}$/">
                <div ng-messages="qnaform.phone.$error">
                  <div ng-message-exp="['pattern']">숫자로 입력해주세요.(000-0000-0000)</div>
                </div> 
              </md-input-container>
            </div>
          </td>
        </tr>

        <tr>
          <td align="left">
              <md-input-container flex="300">
                <label>직 급</label>
                <input name="position" ng-model="qna.position" minlength="2">
                <div ng-messages="qnaform.position.$error">
                  <div ng-message="minlength">최소 두글자 이상 입력해주세요.</div>       
                </div> 
              </md-input-container>
            </div>
          </td>

          <td>
            <div layout="row">
              <md-input-container flex="300">
                <label>소 속</label>
                <input name="belong" ng-model="qna.belong" minlength="2">
                <div ng-messages="qnaform.belong.$error">
                  <div ng-message="minlength">최소 두글자 이상 입력해주세요.</div>       
                </div> 
              </md-input-container>
            </div>
          </td>
        </tr>

        <tr align="center">
          <td align="center" width="50">
            <md-toolbar class="md-warn">
              <div layout="row">
                <label>제 목</label>
          </td>
          <td align="center" width="500">
            <md-toolbar class="md-warn">
              <md-input-container md-no-float>
                <input required name="title" ng-model="qna.title" type="text" placeholder="제목을 입력하세요." minlength="2">
                <div ng-messages="qnaform.title.$error">
                  <div ng-message="required">제목은 필수로 입력해야 합니다.</div>
                   <div ng-message="minlength">최소 두글자 이상 입력해주세요.</div>
                </div>
              </md-input-container>
              </div>
            </md-toolbar>
          </td>
        </tr>

        <tr align=center>
          <td colspan=2 align=center>
            <md-input-container flex="300" md-no-float>
            <textarea name="content" ng-model="qna.content" type="textaera" placeholder="문의할 내용을 입력하세요." cols=90 rows=10 style="resize:none" minlength="30" md-maxlength="800"> </textarea>
            <div ng-messages="qnaform.content.$error">
              <div ng-message="minlength">최소 30자 이상 입력해주세요.</div>
            </div>
            </md-input-container>
          </td>
        </tr>

        <tr align=center>
          <td colspan=2 align=center>
            <md-toolbar class="md-warn">
              <div class="md-toolbar-tools">
                <h2 class="md-flex">개인정보 취급방침 동의</h2>
              </div>
            </md-toolbar>
          </td>
        </tr>

        <tr align-"left">
          <td colspan=2 align-"left">
            <md-content>
              <p>개인정보 취급 방침 내용은 .....</p>
              <p> 이러이러하다.......</p>
            </md-content>
          </td>
        </tr>

        <tr>
          <td colspan=2 align="left">
             <md-input-container class="md-block">
                <md-checkbox name="tos" ng-model="tos" required>
                  동의함
                </md-checkbox>
                <div ng-messages="qnaform.tos.$error">
                  <div ng-message="required">
                    개인정보 취급방침에 동의해주셔야 합니다!
                  </div>
                </div>
              </md-input-container>
          </td>
        </tr>
       </table>
      <md-button ng-disabled="qnaform.$invalid" class="md-raised" type="submit" >
        문의하기
      </md-button>
      </form>
